In [1]:
# tuple
# Indexed
# Ordered
# Multiple and duplicate data
# Immutable

# no append() insert() extend()
# no update
# no del remove() pop()

In [4]:
a= tuple()
a= (1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [5]:
a = (1,)
b=("Apple",)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [6]:
a= ["Apple","Ball","Cat","Ball","Dog","Fish","Ball"]
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
['Apple', 'Ball', 'Cat', 'Ball']
['Apple', 'Cat']

In [8]:
a= ("Apple","Ball","Cat","Dog")
b= ("Fish",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [9]:
a= ("Apple","Ball","Cat","Dog")
a*2

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [12]:
t = tuple()
n= int(input("Enter n = "))
for i in range(n):
    x = input ("Enter x = ")
    t = t + (x,)
    
print(t)

Enter n = 2
Enter x = ram
Enter x = ramm
('ram', 'ramm')

In [13]:
def cal():
    a= 10
    v = 2
    return a,v
cal()

(10, 2)

In [14]:
a = 10,11,12
a

(10, 11, 12)

In [15]:
a= ('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')
b = list(a)
b

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog']

In [16]:
a= ('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')
b = list(a)
del b[0]
a= tuple(b)
a

('Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [17]:
# tuple inside tuple
a= (('Ram', 34, 'Kathmandu'),
    ('Shyam', 23, 'Patan'), 
    ('Hari', 54, 'Bhaktapur' ))
b = (('Nabin',34,'Chitwan'),)
print(a+b)

(('Ram', 34, 'Kathmandu'), ('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 34, 'Chitwan'))

In [25]:
a= (('Ram', 34, 'Kathmandu'),
    ('Shyam', 23, 'Patan'), 
    ('Hari', 54, 'Bhaktapur'))
b=list(a)
b

[('Ram', 34, 'Kathmandu'), ('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur')]

In [26]:
del b[0]
b

[('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur')]

In [27]:
b.append(('Nabin',67,'Bara'))
b

[('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 67, 'Bara')]

In [ ]:
# WAP to convert tuple inside tuple to list inside list and vice versa
# WAP  to perform CRUD list inside tuple
# (['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur'])