In [1]:
# open (<file_name>,modes)
# modes
# create -> x
# read -> r
# write -> w
# append -> a

In [5]:
try:
    b = open ("data.txt","x")
    b.close()
except:
    print("The file is already there")

The file is already there

In [3]:
pwd

'/home/namita'

In [10]:
b = open('data.txt','r')
print(b.read())
b.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [11]:
with open('data.txt','r') as b :
    print (b.read())

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [12]:
b = open('data.txt','r')
x= b.read()
print(type(x))
print(x)
b.close()

<class 'str'>
1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [17]:
b = open('data.txt','r')
x= b.read().split('\n')
print(x)
b.close()

['1. Hello World', '2. Hello World', '3. Hello World', '4. Hello World', '5. Hello World', '6. Hello World', '7. Hello World', '8. Hello World']

In [13]:
a ="Apple Ball Cat Dog"
a.split()

['Apple', 'Ball', 'Cat', 'Dog']

In [14]:
a ="Apple-Ball-Cat-Dog"
a.split('-')

['Apple', 'Ball', 'Cat', 'Dog']

In [18]:
line_no = int (input("Enter line_no = "))
print(x[line_no-1])

Enter line_no1
1. Hello World

In [19]:
b = open('data.txt','r')
print(b.read(20))
b.close()

1. Hello World
2. He

In [21]:
b = open ('datas.txt','w')
b.write('Hello World I am Python')
b.close()

In [25]:
s= str()
name = (input("Enter name = "))
age=int(input("Enter age= "))
add = input ("Enter add =")
info = f"Hello I am {name} I am from {add} I am {age}"

print(info)

b = open('datas.txt','w')
b.write(info)
b.close()

Enter name = ram
Enter age= 1
Enter add =ktm
Hello I am ram I am from ktm I am 1

In [26]:
s= str()
name = (input("Enter name = "))
age=int(input("Enter age= "))
add = input ("Enter add =")
info = f"Hello I am {name} I am from {add} I am {age}"

print(info)

b = open('datas.csv','w')
b.write(info)
b.close()

Enter name = ram
Enter age= 1
Enter add =ktm
Hello I am ram I am from ktm I am 1

In [27]:
s= str()
name = (input("Enter name = "))
age=int(input("Enter age= "))
add = input ("Enter add =")
info = f"Hello I am {name} I am from {add} I am {age}\n"

print(info)

b = open('datas.csv','w')
b.write(info)
b.close()

Enter name = ram
Enter age= 1
Enter add =ktm
Hello I am ram I am from ktm I am 1

In [30]:
s= str()
name = (input("Enter name = "))
age=int(input("Enter age= "))
add = input ("Enter add =")
info = f"{name}, {add}, {age}\n"

print(info)

b = open('datas.csv','w')
b.write('name,age,add\n')
b.write(s)
b.close()

Enter name = ram
Enter age= 12
Enter add =pkr
ram, pkr, 12

In [31]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

Empty DataFrame
Columns: [name, age, add]
Index: []