In [1]:
# Python collection
# list
# tuple
# dictionary
# set

In [2]:
# list 
# - Indexed
# - Ordered
# - Multiple and duplicate data
# - Mutable

In [4]:
# list
a=["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
print(l)
print(a)
print(type(a))

5
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
<class 'list'>

In [7]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(a[1])
print (a[0:4])
print (a[0:4:2])

Ball
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [8]:
a=["Apple","Ball","Cat","Dog","Fish"]
b=[1,2,3,4,5]
c= b+a
print(c)

[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [29]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [31]:
a=[1,2,3,4,5]
print(a*2.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [32]:
a=[1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
a= [1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2]
l = len(a)
l

12

In [10]:
a=["Apple","Ball","Cat","Dog","Fish"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
l = list()
n=int(input("Enter n="))
for i in range(n):
    x= int(input("Enter x="))
    l.append(x)
    
print (l)

Enter n=3
Enter x=5
Enter x=7
Enter x=0
[5, 7, 0]

In [14]:
#  max min sum

In [17]:
a= [5, 7, 0]
print(max(a))
print(min(a))
print(sum(a))

7
0
12

In [18]:
a.sort()
print(a)

[0, 5, 7]

In [20]:
a=["apple","Xray","zebra","Ball","Fish"]
a.sort()
print (a)

['Ball', 'Fish', 'Xray', 'apple', 'zebra']

In [21]:
a=["apple","Xray","zebra","Ball","Fish"]
for i in a:
    print( i, end = " ")

apple Xray zebra Ball Fish

In [22]:
a=["apple","Xray","zebra","Ball","Fish"]
for i in a:
    print( i)

apple
Xray
zebra
Ball
Fish

In [23]:
a=["apple","Xray","zebra","Ball","Fish"]
if "apple" in a:
    print("Yes")
    print (a.count("apple"))

Yes
1

In [24]:
# append() insert() extend()

In [26]:
a=[]
a.append("Apple")
print (a)

['Apple']

In [27]:
a=["apple","Xray","zebra","Ball","Fish"]
a.insert(1,"Ant")
print(a)

['apple', 'Ant', 'Xray', 'zebra', 'Ball', 'Fish']

In [28]:
a=["apple","Xray","zebra","Ball","Fish"]
b=[1,2,3,4,5]
a.extend(b)
print(a)

['apple', 'Xray', 'zebra', 'Ball', 'Fish', 1, 2, 3, 4, 5]

In [34]:
# remove() del pop()
a=["Apple","Ball","Cat","Dog","Fish"]
a.remove("Apple")
a

['Ball', 'Cat', 'Dog', 'Fish']

In [37]:
a=["Apple","Ball","Cat","Dog","Fish"]
del a[0]
a

['Ball', 'Cat', 'Dog', 'Fish']

In [38]:
a=["Apple","Ball","Cat","Dog","Fish"]
del a[0:3]
a

['Dog', 'Fish']

In [39]:
a=["Apple","Ball","Cat","Dog","Fish"]
a.index("Apple")

0

In [41]:
a=["Apple","Ball","Cat","Dog","Fish","Apple","Cat","Apple"]
a.remove("Apple")
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Cat', 'Apple']

In [43]:
a=["Apple","Ball","Cat","Dog","Fish","Apple","Cat","Apple"]
for i in a:
    if i == "Apple":
        a.remove("Apple")
a

['Ball', 'Cat', 'Dog', 'Fish', 'Cat']

In [44]:
a=["Apple","Apple","Ball","Cat","Dog","Fish","Apple","Cat","Apple"]
for i in a:
    if i == "Apple":
        a.remove("Apple")
a

['Ball', 'Cat', 'Dog', 'Fish', 'Cat', 'Apple']

In [46]:
a=["Apple","Apple","Ball","Cat","Dog","Fish","Apple","Cat","Apple"]
l= a.count("Apple")
for i in range(l):
    if a[i] == "Apple":
        a.remove(a[i])
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Cat', 'Apple']

In [49]:
b= []
a=["Apple","Ball","Cat","Dog","Fish","Apple","Cat","Apple"]
for i in a:
    if i != "Apple":
        b.append(i)
print(b)

['Ball', 'Cat', 'Dog', 'Fish', 'Cat']

In [51]:
#WAP to detect index of same value

In [11]:
a= ["Apple","Ball","Cat","Ball","Dog","Fish","Ball"]
for i in a:
    if i == "Ball":
       print(a.index("Ball"))

1
1
1

In [12]:
a= ["Apple","Ball","Cat","Ball","Dog","Fish","Ball"]
for i in range (len(a)):
    if a[i] == "Ball":
        print(i)

1
3
6

In [13]:
# list inside list-- listed list
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
print (len(a))

3

In [15]:
print(a[2])

[7, 8, 9]

In [16]:
a= [['Ram',34,'Kathmandu'],
    ['Shyam',23,'Patan'],
    ['Hari',54,'Bhaktapur']]
a

[['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [18]:
a[0][2]

'Kathmandu'

In [22]:
name = input("Enter name=")
for i in a:
    if name in i:
        print(i)

Enter name=Ram
['Ram', 34, 'Kathmandu']

In [26]:
info =[]
n= int(input("Enter n= "))
for i in range(n):
    name= input("Enter name= ")
    age = int(input("Enter age="))
    add = input("Enter add=")
    data =[name,age,add]
    info.append(data)

print(info)

Enter n= 1
Enter name= akriti
Enter age=23
Enter add=texas corpus christi
[['akriti', 23, 'texas corpus christi']]

In [27]:
a= [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
del a[0]
a

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [30]:
a= [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
a[0][0] ="Prasad"
a

[['Prasad', 34, 'Kathmandu'],
 ['Shyam', 23, 'Patan'],
 ['Hari', 54, 'Bhaktapur']]

In [31]:
a= [['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
a.append(['Ram', 32,'Kathmandu'])
a

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur'], ['Ram', 32, 'Kathmandu']]

In [35]:
a= [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
name = input("Enter name=")
for i in a:
    if name in i:
        a.remove(i)
a

Enter name=Kathmandu

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [2]:
# WAP to create a matrix by taking row and column

In [6]:
info =[]
m=int(input("Enter row ="))
n= int(input("Enter column = "))
mat[]
for i in range(m):
    row[]
    rv=int(input("Enter rowvalue  ="))
    cv= int(input("Enter columnvalue = "))
    data =[rv, cv]
    info.append(data)

print(info)

Enter row =2
Enter column = 2
Enter rowvalue  =1
Enter columnvalue = 2
Enter rowvalue  =1
Enter columnvalue = 2
[[1, 2], [1, 2]]

In [ ]:
# list comprehension and filter--later