In [1]:
# Dictionary
# Indexed
# Ordered
# Multiple data
# Mutable

In [6]:
# a = {<Key>:<value>,<key>:<value>}
a= {'a':"Apple",'b':"Ball",'c':"Cat"}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [7]:
print(a['c'])

Cat

In [8]:
a= {'a':"Apple",'b':"Ball",'c':"Cat"}
print(len(a))

3

In [10]:
a= {'a':"Apple",'b':"Ball",'c':"Cat"}
a['d']="Dog"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [14]:
a={}
a['a']="Apple"
a['b']="Ball"
a['c']="Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [18]:
data= {}
n=int(input("Enter n= "))
for i in range (n):
    name = input("Enter name=")
    phone = int(input("Enter phone="))
    data[name]= phone
    
print(data)

Enter n= 1
Enter name=ram
Enter phone=420
{'ram': 420}

In [19]:
a= {'ram': 420}
a['ram']=240
a

{'ram': 240}

In [20]:
a= {'ram': 420}
for i in a:
    print(i)

ram

In [21]:
a= {'ram': 420}
for i in a.values():
    print(i)

420

In [22]:
a= {'ram': 420}
for i in a.items():
    print(i)

('ram', 420)

In [23]:
a= {'ram': 420}
del a['ram']
print(a)

{}

In [25]:
a= {'ram': 420}
a.pop('ram')
a

{}

In [26]:
a= {'ram': 420}
b= a.pop('ram')
print(a)
print(b)

{}
420

In [1]:
# list inside dictionary
# a= {'ram': [420,987],'shyam': [123,678]}
info={}
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc no ="))
    ncell_phone = int(input("Enter ncell_no = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n =2
Enter name = Ram
Enter ntc no =987547444
Enter ncell_no = 980347789
Enter name = Shyam
Enter ntc no =985700843
Enter ncell_no = 975561935
{'Ram': [987547444, 980347789], 'Shyam': [985700843, 975561935]}

In [3]:
a = {'Ram': [987547444, 980347789], 'Shyam': [985700843, 975561935]}
a['Ram'][0]

987547444

In [5]:
a = {'Ram': [987547444, 980347789], 'Shyam': [985700843, 975561935]}
a['Ram'].append(9830040228)
a

{'Ram': [987547444, 980347789, 9830040228], 'Shyam': [985700843, 975561935]}

In [6]:
a ['Hari'] = [9823557392, 984587390]
a

{'Ram': [987547444, 980347789, 9830040228],
 'Shyam': [985700843, 975561935],
 'Hari': [9823557392, 984587390]}

In [7]:
a = {'Name':["Ram", "Shyam"],"NTC": [988357989,8408590473],"NCELL":[589347549,57898920]}
a

{'Name': ['Ram', 'Shyam'],
 'NTC': [988357989, 8408590473],
 'NCELL': [589347549, 57898920]}

In [9]:
info={'Name':[],'NTC':[],'NCELL':[]}

n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_no ="))
    ncell_phone = int(input("Enter ncell_no = "))
    info['Name']. append(name)
    info ['NTC'].append(ntc_phone)
    info['NCELL'].append(ncell_phone)
    
print(info)

Enter n =2
Enter name = ram
Enter ntc_no =132435
Enter ncell_no = 1234
Enter name = shtyam
Enter ntc_no =9876
Enter ncell_no = 987654
{'Name': ['ram', 'shtyam'], 'NTC': [132435, 9876], 'NCELL': [1234, 987654]}

In [10]:
info = [{"name":"ram","age":23,"add":"ktm"},
       {"name":"shyam","age":24,"add":"pkr"},
       {"name":"hari","age":25,"add":"bkt"},
       {"name":"sita","age":26,"add":"ktm"}]

In [11]:
info [0]['name']

'ram'

In [14]:
info [0]['name']= 'ram prasad'
info

[{'name': 'ram prasad', 'age': 23, 'add': 'ktm'},
 {'name': 'shyam', 'age': 24, 'add': 'pkr'},
 {'name': 'hari', 'age': 25, 'add': 'bkt'},
 {'name': 'sita', 'age': 26, 'add': 'ktm'}]

In [1]:
info= []
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter add = ")
    data={'name':name ,'age': age,'add': add} 
    info.append(data)
    
print(info)

Enter n =2
Enter name = ram
Enter age =34
Enter add = ktm
Enter name = ram
Enter age =32
Enter add = pkr
[{'name': 'ram', 'age': 34, 'add': 'ktm'}, {'name': 'ram', 'age': 32, 'add': 'pkr'}]

In [3]:
data = {'coke':100,'pizza':150}
product = input('Enter product name = ')
price = data [product]
quantity = int (input("Enter quantity = "))

total = price * quantity
print (total)

Enter product name = coke
Enter quantity = 2
200

In [4]:
# dictionary inside dictionary
a= {1:{"name":"ram","age":23,"add":"ktm"},
    2:{"name":"shyam","age":24,"add":"pkr"},
    3:{"name":"hari","age":25,"add":"bkt"},
    4:{"name":"sita","age":26,"add":"ktm"}}
print(a)

{1: {'name': 'ram', 'age': 23, 'add': 'ktm'}, 2: {'name': 'shyam', 'age': 24, 'add': 'pkr'}, 3: {'name': 'hari', 'age': 25, 'add': 'bkt'}, 4: {'name': 'sita', 'age': 26, 'add': 'ktm'}}

In [7]:
print(a[1])

{'name': 'ram', 'age': 23, 'add': 'ktm'}

In [8]:
a[5] = {'name': "akriti","age":18,"add":"corpus christi"}
a

{1: {'name': 'ram', 'age': 23, 'add': 'ktm'},
 2: {'name': 'shyam', 'age': 24, 'add': 'pkr'},
 3: {'name': 'hari', 'age': 25, 'add': 'bkt'},
 4: {'name': 'sita', 'age': 26, 'add': 'ktm'},
 5: {'name': 'akriti', 'age': 18, 'add': 'corpus christi'}}

In [ ]:
# WAP to create dict inside dict