In [2]:
a="Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [5]:
a="Hello "
b="World"
c=a + b
print(c)

Hello World

In [6]:
a=("Hello World\n")
print(a*2)

Hello WOrld
Hello WOrld

In [9]:
a="Hello World"
print(a[2])

l

In [12]:
a="Hello World"
print(a[0:5])

Hello

In [14]:
a="Hello World"
print(a[0:10:2])

HloWr

In [17]:
a="Hello World"
b= a[0:5]
c= a[5:]
print (b)
print (c)

Hello
 World

In [23]:
a="Hello World"
l= len(a)
print (a[l::-1])

dlroW olleH

In [24]:
a="Hello World"
print (a[::-1])

dlroW olleH

In [1]:
# string formatting
name = (input("Enter name = "))
age=int(input("Enter age= "))
add = input ("Enter add =")
info = f"Hello I am {name} I am from {add} I am {age}"

print(info)

Enter name = ram
Enter age= 1
Enter add =ktm
Hello I am ram I am from ktm I am 1

In [6]:
a = " Ram Shyam Hari Sita Gita Nabin "
name =input("Enter name=")
if name in a:
    print ("Yes")
    print(a.count(name))

Enter name=Ram
Yes
1

In [7]:
a = " Ram Shyam Hari Sita Gita Nabin "
a.upper()

' RAM SHYAM HARI SITA GITA NABIN '

In [8]:
a = " Ram Shyam Hari Sita Gita Nabin "
a.lower()

' ram shyam hari sita gita nabin '

In [11]:
a = " Ram Shyam Hari Sita Gita Nabin ".lower()
name =input("Enter name=").lower()
if name in a:
    print ("Yes")
    print(a.count(name))

Enter name=ram
Yes
1

In [12]:
a= 'ram shyam hari sita gita ram nabin'
a.title()

'Ram Shyam Hari Sita Gita Ram Nabin'

In [13]:
a= 'ram shyam hari sita gita ram nabin'
a.upper()

'RAM SHYAM HARI SITA GITA RAM NABIN'

In [17]:
a= 'ram shyam hari sita gita ram nabin'
a.upper()
print (a)
# immutable data type

ram shyam hari sita gita ram nabin

In [14]:
a= 'ram shyam hari sita gita ram nabin'
a= a.upper()
print (a)

RAM SHYAM HARI SITA GITA RAM NABIN

In [20]:
a= 'ram shyam hari sita gita ram nabin'
a= a.replace('ram','Ram')
print(a)

Ram shyam hari sita gita Ram nabin

In [22]:
a= 'ram shyam hari sita gita ram nabin'
a= a.replace('ram',"")
print(a)

 shyam hari sita gita  nabin

In [24]:
a= 10 
b= 2
a
b

2

In [ ]:
# WAP to develop a billing application using string and loop
# name
# price
# quantity
# total

# grand total

In [4]:
n = int (input("Enter n="))
for i in range(n):
    name = input("Enter name = ")
    quantity = int(input("Enter quantity ="))
    price = int(input("Enter price ="))
    total= price*quantity
    info = f"grand total is {total}"
    
print(info)

Enter n=2
Enter name = ww
Enter quantity =11
Enter price =123
Enter name = q
Enter quantity =1
Enter price =22
grand total is 22